<div>
	<h3>The number of times <span class="word"><%= @word %></span> is in <span class="phrase"><%= @phrase %></span> is:</h3>

	<h1><span class="total_number"><%= @total_number %></span></h1>

	<a href="/">Count some more words!</a>

</div>

